In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/processed/data.csv')

In [3]:
df.sample(10)

,model_name,model_year,kms_driven,owner,location,price
431,Hero Passion Pro Drum,2014,49376.0,1st,Bokaro Steel City,30000.0
3070,Hero,2018,35470.0,1st,Delhi,55000.0
996,Honda Livo Drum,2015,38000.0,1st,Tirupati,50000.0
3228,Suzuki,2016,51065.0,1st,Delhi,42000.0
1069,Hero Splendor Plus 100 Million Edition,2021,12000.0,1st,New Delhi,56000.0
3954,Royal Enfield Classic 350cc,2019,12500.0,1st,Coimbatore,60000.0
2620,TVS,2018,29443.0,1st,Delhi,50000.0
3309,Bajaj,2018,36556.0,1st,Delhi,56000.0
4212,Yamaha FZ16 150cc,2011,36000.0,1st,Delhi,22900.0
788,Royal Enfield Interceptor 650 Standard - BS IV,2019,2200.0,1st,Bangalore,290000.0

### Let's take only first two words of model_name

In [13]:
df['model_name'] = df['model_name'].apply(lambda x: ' '.join(x.split()[:2]))

In [14]:
df.sample(10)

         model_name  model_year  kms_driven owner        location     price
4752  Hero Splendor        2020      2000.0   1st           Delhi   67000.0
277     Honda Shine        2013     45000.0   1st            Pune   40000.0
1160     TVS Apache        2016     22603.0   1st       New Delhi   25000.0
3887  Bajaj Platina        2012     35456.0   1st           Delhi   17000.0
3342            TVS        2019     42019.0   1st           Delhi   74000.0
5342    Yamaha FZ16        2013     41000.0   1st       Bangalore   40200.0
4562      Honda CBR        2015     11611.0   2nd           Delhi   68000.0
108    Honda Activa        2012     15000.0   1st  Tiruvannamalai   20000.0
2374        Hero HF        2014     43000.0   1st       Ahmedabad   30000.0
4538         KTM RC        2019     14000.0   1st         Gurgaon  173175.0

In [16]:
df.model_name.value_counts()[:25]

Royal Enfield     751
Bajaj Pulsar      655
Honda Activa      438
Honda             321
TVS Apache        302
TVS               277
Hero Splendor     220
Hero              202
KTM RC            145
Bajaj Avenger     143
Honda CB          132
Bajaj             106
Hero Honda        100
Royal              91
Yamaha             69
Suzuki Gixxer      66
Hero HF            64
Hero Passion       63
Bajaj Discover     60
Yamaha FZ          57
KTM                55
Yamaha YZF-R15     55
KTM Duke           49
Bajaj Dominar      43
Honda Dio          39
Name: model_name, dtype: int64