In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/processed/processed.csv')

In [3]:
df.head()

,kms_driven,owner,location,mileage,power,price,brand,engine,age
0,34000.0,first,other,NaN,12.0,24000.0,Yamaha,150.0,9
1,28000.0,first,other,72.0,7.0,10000.0,Hero,100.0,16
2,5947.0,first,other,53.0,19.0,80000.0,Bajaj,NaN,4
3,11000.0,first,delhi,40.0,19.8,90000.0,Royal Enfield,350.0,7
4,13568.0,first,delhi,63.0,14.0,48000.0,Suzuki,150.0,5

In [4]:
df.shape

(5040, 9)

In [5]:
X = df.drop('price',axis=1)
y = df['price']

In [6]:
y = y.apply(np.log1p)

In [7]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,MinMaxScaler
from sklearn.impute import KNNImputer

In [8]:
X.sample()

     kms_driven  owner location  mileage  power          brand  engine  age
430     21500.0  first    other      NaN   19.8  Royal Enfield   350.0    2

## Impute

In [21]:
# X_ = pd.DataFrame({'kms':[0,1,2],'owner':['first','first','second'],
# 'location':['other','other','delhi'],'mileage':[9,8,np.nan],
# 'power':[3,2,1],'brand':['A','B','C'],'engine':[10,100,1000],'age':[3,4,5]})
num_cols = [ col for col in X.columns if X[col].dtypes != 'object' ]
# print(X_train[num_cols])
# imputer_transformer.fit(X_train[num_cols])
# vals = imputer_transformer.transform(X_train[num_cols])
# df_ = pd.DataFrame(vals,columns=num_cols)

In [22]:
imputer = KNNImputer(n_neighbors=5)

# X[['kms_driven','mileage','power','engine','age']] = imputer.fit_transform(X[['kms_driven','mileage','power','engine','age']])
X[num_cols] = imputer.fit_transform(X[num_cols])

In [23]:
X.head()

   kms_driven  owner location  mileage  power          brand  engine   age
0     34000.0    3.0    other     58.0   12.0         Yamaha   150.0   9.0
1     28000.0    3.0    other     72.0    7.0           Hero   100.0  16.0
2      5947.0    3.0    other     53.0   19.0          Bajaj   236.0   4.0
3     11000.0    3.0    delhi     40.0   19.8  Royal Enfield   350.0   7.0
4     13568.0    3.0    delhi     63.0   14.0         Suzuki   150.0   5.0

In [24]:
X.isnull().sum()

kms_driven    0
owner         0
location      0
mileage       0
power         0
brand         0
engine        0
age           0
dtype: int64

In [12]:
X.owner.unique()

array(['first', 'second', 'fourth', 'third'], dtype=object)

## Owner

In [13]:
cat = list(np.array(['fourth','third','second','first']).reshape(1,4))
ord_enc = OrdinalEncoder(categories=[['fourth','third','second','first']],handle_unknown='ignore')

X[['owner']] = ord_enc.fit_transform(X[['owner']])
# ord_enc.fit_transform(X[['owner']])

## Brand

In [14]:
ohe = OneHotEncoder(handle_unknown='ignore',sparse=False)
ohe.fit_transform(X[['brand','location']])
# a = pd.get_dummies(X[['brand','location']],drop_first=True)
# X = pd.concat([X,a],axis=1)
# X = X.drop(['location','brand'],axis=1)

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       ...,
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [15]:
# sc = MinMaxScaler()

# X[['kms_driven','engine','mileage']] = sc.fit_transform(X[['kms_driven','engine','mileage']])

In [16]:
X.head(5)

   kms_driven  owner location  mileage  power          brand  engine   age
0     34000.0    3.0    other     58.0   12.0         Yamaha   150.0   9.0
1     28000.0    3.0    other     72.0    7.0           Hero   100.0  16.0
2      5947.0    3.0    other     53.0   19.0          Bajaj   236.0   4.0
3     11000.0    3.0    delhi     40.0   19.8  Royal Enfield   350.0   7.0
4     13568.0    3.0    delhi     63.0   14.0         Suzuki   150.0   5.0

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=1234)

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [19]:
# lr = LinearRegression()
# lr.fit(X_train,y_train)

# print(lr.score(X_test,y_test))